.big-container {
  min-height: 90dvh;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
}

.small-container {
  margin-top: 40px;
  max-width: 1200px;
  padding: 30px 30px 30px;
  min-height: 600px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

nav a {
  max-height: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
}
nav img {
  border-radius: 100%;
  max-width: 30px;
  max-height: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
form {
  padding: 20px;
  background-color: #18122b;
  border-radius: 18px;
}
label {
  font-size: 18px;
  font-weight: 600;
}

form input,
textarea {
  all: unset;
  border-bottom: 2px solid rgb(99, 89, 133);
  padding: 5px;
  margin: 8px 3px;
  background-color: transparent;
}

textarea {
  border: 2px solid rgb(99, 89, 133);
  border-radius: 8px;
  min-height: 100px;
  height: 100%;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}

#message-box {
  max-width: 500px;
  margin-top: 15px;
}
#message-box h2 {
  font-size: 48px;
  color: rgb(131, 160, 238);
}

.contact-group {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}
.contact-group i {
  font-size: 32px;
  margin-right: 10px;
}

#submit-btn {
  text-align: center;
  background-color: #535c91;
  color: white;
  border-radius: 8px;
  padding: 8px 5px;
  font-weight: 500;
}

.clicked {
  animation: clicked alternate infinite;
  animation-duration: 400ms;
}
@keyframes loadText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clicked {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: 0px 0px 1px 5px rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  .small-container {
    max-height: fit-content;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  nav h1 {
    font-size: 1.5rem;
  }
}
