.big-container {
  height: 95dvh;
  justify-content: center;
  align-items: center;
}

.profile {
  background-color: whitesmoke;
  padding: 30px;
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 450px;
  animation: animateProfile 1100ms;
  animation-timing-function: cubic-bezier(1, 80, 5, 0.5);
  box-shadow: -15px 15px 3px 3px hsl(0, 0%, 50.2%);
}

.profile img {
  border-radius: 3px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: 0 0;
}

.profile-name {
  color: black;
  font-size: 28px;
  font-weight: 600;
}

.profile-stack {
  color: #595959;
  font-size: 18px;
}

.clicked {
  animation: clicked;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}
@keyframes animateProfile {
  0% {
    transform: translateX(300px);
    opacity: 0;
    box-shadow: 0px 0px 0px 0px white;
  }
  20% {
  }
  40% {
  }
  60% {
    box-shadow: 0px 0px 0px 0px hsl(0, 0%, 50.2%);
  }
  80% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    box-shadow: -15px 15px 3px 3px hsl(0, 0%, 50.2%);
  }
}
/* box-shadow: -15px 15px 3px 3px hsl(0, 0%, 50.2%); */

@keyframes clicked {
  from {
    transform: translate(0px, 0px);
    box-shadow: -15px 15px 3px 3px hsl(0, 0%, 50.2%);
  }
  to {
    transform: translate(-8px, 8px);
    box-shadow: -8px 8px 3px 3px hsl(0, 0%, 50.2%);
  }
}

@media only screen and (max-width: 480px) {
  .profile {
    box-shadow: 0px 15px 3px 3px hsl(0, 0%, 50.2%);
  }
  @keyframes animateProfile {
    0% {
      transform: translateX(300px);
      opacity: 0;
      box-shadow: 0px 0px 0px 0px white;
    }
    20% {
    }
    40% {
    }
    60% {
      box-shadow: 0px 0px 0px 0px hsl(0, 0%, 50.2%);
    }
    80% {
      transform: translateX(0px);
      opacity: 1;
    }

    100% {
      box-shadow: 0px 15px 3px 3px hsl(0, 0%, 50.2%);
    }
  }
  @keyframes clicked {
    from {
      transform: translate(0px, 0px);
      box-shadow: 0px 15px 3px 3px hsl(0, 0%, 50.2%);
    }
    to {
      transform: translateY(8px);
      box-shadow: 0px 8px 3px 3px hsl(0, 0%, 50.2%);
    }
  }
}
